.licence-button button {
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 4px 12px;
}

.svg-preview {
    filter: invert(1);
}

/* Cheat sheet styles */
.icon-section-header {
    border-bottom: 1px solid @theme_text_color;
    padding-bottom: 12px;
}

.icon-button {
    font-size: 30px;
}

