.licence-button button {
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 4px 12px;
}

.icon-button {
    font-size: 30px;
    font-family: "Symbols Nerd Font Mono";
}

.error {
    color: @error_color;
}
